# Compiled object files
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executable files
*.out
*.exe

# Debug files
*.dSYM/
*.stackdump

# Logs and temporary files
*.log
*.tmp
*.swp
*.swo
*.bak

# IDE specific files
.vscode/
.idea/
*.code-workspace